# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Ignored default folder with query files
/queries/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

/src/db/DBConnection.xml
/src/db/DBConnections.xml
/src/db/DBConnections.xml.local
/src/db/DBConnections.xml.local.xml
/src/db/DBConnections.xml.local.xml.local